[submodule "pack/plugins/start/vim-colors-solarized"]
	path = pack/plugins/start/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "pack/plugins/start/molokai"]
	path = pack/plugins/start/molokai
	url = git@github.com:tomasr/molokai.git
[submodule "pack/plugins/start/powerline"]
	path = pack/plugins/start/powerline
	url = git@github.com:powerline/powerline.git
[submodule "pack/plugins/start/vim-cpp-enhanced-highlight"]
	path = pack/plugins/start/vim-cpp-enhanced-highlight
	url = git@github.com:octol/vim-cpp-enhanced-highlight.git
[submodule "pack/plugins/start/vim-indent-guides"]
	path = pack/plugins/start/vim-indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule "pack/plugins/start/phvim-fswitchd"]
	path = pack/plugins/start/phvim-fswitchd
	url = git@github.com:derekwyatt/vim-fswitch.git
[submodule "pack/plugins/start/vim-signature"]
	path = pack/plugins/start/vim-signature
	url = git@github.com:kshenoy/vim-signature.git
[submodule "pack/plugins/start/BOOKMARKS--Mark-and-Highlight-Full-Lines"]
	path = pack/plugins/start/BOOKMARKS--Mark-and-Highlight-Full-Lines
	url = git@github.com:vim-scripts/BOOKMARKS--Mark-and-Highlight-Full-Lines.git
[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/start/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "pack/plugins/start/indexer.tar.gz"]
	path = pack/plugins/start/indexer.tar.gz
	url = git@github.com:vim-scripts/indexer.tar.gz.git
[submodule "pack/plugins/start/DfrankUtil"]
	path = pack/plugins/start/DfrankUtil
	url = git@github.com:vim-scripts/DfrankUtil.git
[submodule "pack/plugins/start/vimprj"]
	path = pack/plugins/start/vimprj
	url = git@github.com:vim-scripts/vimprj.git
[submodule "pack/plugins/start/ctrlsf.vim"]
	path = pack/plugins/start/ctrlsf.vim
	url = git@github.com:dyng/ctrlsf.vim.git
[submodule "pack/plugins/start/vim-multiple-cursors"]
	path = pack/plugins/start/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "pack/plugins/start/nerdcommenter"]
	path = pack/plugins/start/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "pack/plugins/start/DrawIt"]
	path = pack/plugins/start/DrawIt
	url = git@github.com:vim-scripts/DrawIt.git
[submodule "pack/plugins/start/ultisnips"]
	path = pack/plugins/start/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "pack/plugins/start/vim-protodef"]
	path = pack/plugins/start/vim-protodef
	url = git@github.com:derekwyatt/vim-protodef.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "pack/plugins/start/minibufexpl"]
	path = pack/plugins/start/minibufexpl
	url = git@github.com:fholgado/minibufexpl.vim.git
[submodule "pack/plugins/start/wildfire.vim"]
	path = pack/plugins/start/wildfire.vim
	url = git@github.com:gcmt/wildfire.vim.git
[submodule "pack/plugins/start/gundo.vim"]
	path = pack/plugins/start/gundo.vim
	url = git@github.com:sjl/gundo.vim.git
[submodule "pack/plugins/start/vim-easymotion"]
	path = pack/plugins/start/vim-easymotion
	url = git@github.com:Lokaltog/vim-easymotion.git
[submodule "pack/plugins/start/vim-instant-markdown"]
	path = pack/plugins/start/vim-instant-markdown
	url = git@github.com:suan/vim-instant-markdown.git
[submodule "pack/plugins/start/citx.vim"]
	path = pack/plugins/start/citx.vim
	url = git@github.com:lilydjwg/fcitx.vim.git
